[submodule "external/ModernZ"]
	path = external/ModernZ
	url = https://github.com/Samillion/ModernZ
[submodule "external/mpv-lossless-cut"]
	path = external/mpv-lossless-cut
	url = https://github.com/f0e/mpv-lossless-cut
[submodule "external/thumbfast"]
	path = external/thumbfast
	url = https://github.com/po5/thumbfast
